html, body {
    height: 100%;
}
body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 80%;
    margin: auto;
}

main div.pure-g:first-child {
    margin-top: 2rem;
}

img {
    border-radius: 1rem;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer img {
    height: 1.25rem;
    width: auto;
    padding: 0 1rem;
}

a#resume {
    color: inherit;
}

a#resume:hover {
    color: blue;
}