body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-family: sans-serif;
}

#root {
  margin: auto;
  filter: saturate(0.75) sepia(0.25);
}

.container {
  background-color: black;
  margin: 10rem;
  animation: tvFlicker 3s infinite;
}

.mushroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel:hover {
  cursor: pointer;
}

:root {
  /* Default unit set to vw */
  --size-unit: 1vw;
}

@media (min-aspect-ratio: 1/1) {
  :root {
    --size-unit: 1vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --size-unit: 1vw;
  }
}

.channel-container {
  width: calc(100 * var(--size-unit)); 
  height: calc(100 * var(--size-unit));
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv-frame {
  width: calc(25 * var(--size-unit)); 
  height: calc(25 * var(--size-unit));
  z-index: 1;
}

.tv-content {
  max-height: calc(20 * var(--size-unit));
  max-width: calc(22 * var(--size-unit));
  padding-bottom: calc(4 * var(--size-unit));
}

.tv-content, .tv-frame {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.grid {
  grid-template-columns: repeat(4, calc(25 * var(--size-unit)));
  grid-template-rows: repeat(4, calc(25 * var(--size-unit)));
  display: grid;
  column-gap: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.close-button {
  position: absolute;
  top: 12rem;
  right: 12rem;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem;
  line-height: 1;
  /* transition: background-color 0.2s; */
}

.close-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.bio-image {
  max-height: 50%;
  max-width: 50%;
}

@keyframes tvFlicker {
  0% {
    box-shadow: 0 0 60px 30px #fff,
                0 0 100px 60px #f0f,
                0 0 140px 90px #0ff;
  }
  10% {
    box-shadow: 0 0 58px 28px #ffe,
                0 0 95px 55px #f0e,
                0 0 130px 85px #0ee;
  }
  20% {
    box-shadow: 0 0 62px 32px #fff,
                0 0 105px 65px #f0f,
                0 0 145px 95px #0ff;
  }
  35% {
    box-shadow: 0 0 59px 29px #eef,
                0 0 100px 60px #f0d,
                0 0 140px 90px #0dd;
  }
  50% {
    box-shadow: 0 0 61px 31px #fff,
                0 0 102px 62px #f0f,
                0 0 142px 92px #0ff;
  }
  65% {
    box-shadow: 0 0 60px 30px #ffe,
                0 0 100px 60px #f0e,
                0 0 140px 90px #0ee;
  }
  80% {
    box-shadow: 0 0 63px 33px #fff,
                0 0 108px 68px #f0f,
                0 0 148px 98px #0ff;
  }
  100% {
    box-shadow: 0 0 60px 30px #fff,
                0 0 100px 60px #f0f,
                0 0 140px 90px #0ff;
  }
}
