body {
  display: flex;
  color: white;
  background-color: black;
  font-family: sans-serif;
}

#root {
  margin: auto;
  filter: saturate(0.75) sepia(0.25);
}

.container {
  background-color: black;
  margin: 10rem;
  box-shadow:
              0 0 60px 30px #fff,
              0 0 100px 60px #f0f,
              0 0 140px 90px #0ff;
}

.mushroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel:hover {
  cursor: pointer;
}

:root {
  /* Default unit set to vw */
  --size-unit: 1vw;
}

@media (min-aspect-ratio: 1/1) {
  :root {
    --size-unit: 1vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --size-unit: 1vw;
  }
}

.channel-container {
  width: calc(100 * var(--size-unit)); 
  height: calc(100 * var(--size-unit));
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-container p, img {
  padding-left: 2rem;
  padding-right: 2rem;
}

.channel-container img {
  height: 33%;
}

.tv-frame {
  width: calc(25 * var(--size-unit)); 
  height: calc(25 * var(--size-unit));
  z-index: 1;
}

.tv-content {
  max-height: calc(20 * var(--size-unit));
  max-width: calc(22 * var(--size-unit));
  padding-bottom: calc(4 * var(--size-unit));
}

.tv-content, .tv-frame {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.grid-container {
  grid-template-columns: repeat(4, calc(25 * var(--size-unit)));
  grid-template-rows: repeat(4, calc(25 * var(--size-unit)));
  display: grid;
  column-gap: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
