body {
  display: flex;
  color: white;
  background-color: black;
  /* background-size: cover; */
  /* background-image: url("https://giphy.com/gifs/looping-infinite-loop-cmdrkitten-ftThncogkyzWEGf4fC"); */
}

#root {
  margin: auto;
  filter: saturate(0.75) sepia(0.25);
  /* background-size: cover;
  background-image: url('./assets/images/SMPTE_Color_Bars.svg.png'); */
}

.container {
  background-color: black;
  margin: 10rem;
  box-shadow:
              0 0 60px 30px #fff,
              0 0 100px 60px #f0f,
              0 0 140px 90px #0ff;
}

.channel-container {
  width: 100vh; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-container p, img {
  padding-left: 2rem;
  padding-right: 2rem;
}

.channel-container img {
  height: 33%;
}

.mushroom {
  flex-direction: column;
  overflow: scroll;
  max-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 25vh);
  grid-template-rows: repeat(4, 25vh);
  column-gap: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tv-frame {
  width: 25vh; 
  height: 25vh;
  z-index: 1;
}


.tv-content, .tv-frame {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.tv-content {
  max-height: 20vh;
  max-width: 22vh;
  padding-bottom: 4vh;
}

.linkHover:hover {
  cursor: pointer;
}

nav {
  color: white;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  
}

nav li {
  list-style-type: none;
  padding: 0;
  display: flex;
}
